@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "DrukWide";
  font-style: bold;
  font-weight: 700;
  src: local("DrukWide"), url("/fonts/Druk-Wide-Bold.ttf");
}

img {
  display: block;
  max-width: 100%;
}

ul[class] {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
li,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  color: #ffffff;
  min-height: 100vh;
  width: inherit;
  scroll-behavior: smooth;
  margin: 0;
  background-color: #0e0e0e;
}

.body__not-active {
  display: block;
}

.body__not-active::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.header {
  position: absolute;
  content: "";
  top: 0;
  left: 20px;
  margin: 20px 20px 10px 20px;
}

@media (min-width: 767px) {
  .header {
    margin: 60px 20px 10px 60px;
    left: 0;
  }
}

@media (min-width: 767px) {
  .header {
    margin: 65px 20px 10px 120px;
  }
}

.header__logo-img {
  width: 66px;
  height: 22px;
}

@media (min-width: 767px) {
  .header__logo-img {
    width: 100%;
    height: 40px;
  }
}

@media (min-width: 1440px) {
  .header__logo-img {
    width: 100%;
    height: 59px;
  }
}

.main {
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 55px 0 0 0;
}

@media (min-width: 767px) {
  .main {
    padding: 80px 0 0 0;
  }
}

.main__wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 767px) {
  .main__wrapper {
    padding: 80px 60px 0 60px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  .main__wrapper {
    display: flex;
    padding: 80px 0 0 0;
    margin: 0 120px;
  }
}

.main__slogan {
  display: flex;
  flex-direction: column;
  padding: 0 25px 10px 25px;
}

@media (min-width: 1440px) {
  .main__slogan {
    min-width: 505px;
    margin: 0 auto 150px 0;
    padding: 0 15px 0 0;
  }
}

.slogan__text {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.slogan__first-line {
  font-family: "DrukWide";
  font-weight: bold;
  color: #ffcc00;
  font-size: 53px;
  line-height: 69px;
  transform: scale(2.8, 1);
}

@media (min-width: 1440px) {
  .slogan__first-line {
    font-size: 115px;
    line-height: 150px;
  }
}

.slogan__second-line {
  font-family: "DrukWide";
  font-weight: bold;
  font-size: 31px;
  line-height: 36px;
  transform: scale(2.4, 1);
}

@media (min-width: 1440px) {
  .slogan__second-line {
    font-size: 67px;
    line-height: 67px;
    margin: 0 0 10px 0;
  }
}

.slogan__third-line {
  font-family: "DrukWide";
  font-weight: bold;
  line-height: 34px;
  font-size: 22.2px;
  transform: scale(2.4, 1);
  margin: 0 0 5px 0;
}

@media (min-width: 1440px) {
  .slogan__third-line {
    font-size: 47.5px;
    line-height: 47px;
    margin: 0 0 40px 0;
  }
}

.slogan__fourth-line {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 12.5px;
  margin: 0 0 5px 0;
}
@media (min-width: 1440px) {
  .slogan__fourth-line {
    font-size: 27px;
    line-height: 32px;
  }
}

.slogan__fifth-line {
  font-family: "Roboto";
  font-size: 10.5px;
  line-height: 12px;
}

@media (min-width: 1440px) {
  .slogan__fifth-line {
    font-size: 22.5px;
    line-height: 26px;
  }
}

.slogan__text:last-of-type {
  margin: 0 0 20px 0;
}

@media (min-width: 1440px) {
  .slogan__text:last-of-type {
    margin: 0 0 50px 0;
  }
}

.main__button-play {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 157px;
  height: 38px;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto 27px auto;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0;
  color: #000000;
  background-color: #ffcc00;
  cursor: pointer;
}

@media (min-width: 1440px) {
  .main__button-play {
    width: 327px;
    height: 86px;
    margin: 0 auto 0 0;
    border-radius: 10px;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
  }
}

.main__button-play:active {
  transform: translateY(1px);
}

.main__button-play:hover,
.main__button-play:focus,
.main__button-play:active {
  border-color: #000000;
}

.main__player-img {
  margin: 0 auto 12px auto;
  width: 289px;
  height: 233px;
}

@media (min-width: 1440px) {
  .main__player-img {
    width: 729px;
    height: 587px;
  }
}
.footer {
  min-height: 66px;
  width: 100%;
  background-color: #0e0e0e;
  overflow: hidden;
}

@media (min-width: 1440px) {
  .footer {
    min-height: 95px;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 20px;
}

@media (min-width: 1440px) {
  .footer__wrapper {
    flex-wrap: nowrap;
    margin: 34px 120px 0 120px;
  }
}

.footer__button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 0 8px 0;
}

@media (min-width: 1440px) {
  .footer__button-wrapper {
    order: 1;
  }
}

.footer__button-regulations {
  display: inline-block;
  text-align: center;
  text-decoration: underline;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  border: none;
  border-radius: none;
  margin: 0 auto;
  padding: 0;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
}

.footer__button-regulations:active,
.footer__button-regulations:hover,
.footer__button-regulations:focus {
  color: #ffcc00;
}

@media (min-width: 1440px) {
  .footer__button-regulations {
    font-size: 23px;
    line-height: 27px;
  }
}

.store-list,
.team-list {
  display: flex;
}

@media (min-width: 1440px) {
  .store-list {
    order: -1;
  }
}

.store-list__item {
  margin: 0 8px 0 0;
}

@media (min-width: 1440px) {
  .store-list__item {
    margin: 0 32px 0 0;
  }
}

.store-list__item:last-of-type {
  margin: 0;
}

.store-list__img {
  width: 68px;
  height: 20px;
}

@media (min-width: 1440px) {
  .store-list__img {
    width: 282px;
    height: 44px;
  }
}

.team-list {
  min-width: 110px;
}

@media (min-width: 1440px) {
  .team-list {
    order: 1;
  }
}

.team-list__item {
  margin: 0 10px 0 0;
}

@media (min-width: 1440px) {
  .team-list__item {
    margin: auto 30px auto 0;
  }
}

.team-list__item:last-of-type {
  margin: 0;
}

@media (min-width: 1440px) {
  .team-list__item:last-of-type {
    margin: auto 0;
  }
}

@media (min-width: 1440px) {
  .team-list__img {
    width: 100px;
    height: 100%;
  }
}

.popup {
  display: none;
  position: fixed;
  justify-content: center;
  background-color: #171717;
  align-items: flex-start;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 278px;
  height: 450px;
  margin: auto;
  z-index: 10;
}

.popup__is-avtive {
  display: flex;
}

.popup__wrapper {
  overflow-x: hidden;
  padding: 0 15px;
  width: 269px;
  height: 400px;
  margin: 35px 15px 20px 0;
}

@media (min-width: 1440px) {
  .popup {
    width: 600px;
    height: 600px;
  }
}

@media (min-width: 1440px) {
  .popup__wrapper {
    width: 100%;
    height: 550px;
    margin: 35px 40px 45px 45px;
  }
}

.popup__wrapper {
  scrollbar-width: thin;
  scrollbar-color: #ffffff #2e2e2e;
}

.popup__wrapper::-webkit-scrollbar {
  width: 5px;
  border-radius: 100px;
  margin: 30px 0 0 0;
}

@media (min-width: 1440px) {
  .popup__wrapper::-webkit-scrollbar {
    width: 9px;
    border-radius: 100px;
    margin: 50px 0 0 0;
  }
}

.popup__wrapper::-webkit-scrollbar-track {
  border-radius: 100px;
  background-color: #ffffff;
}

.popup__wrapper::-webkit-scrollbar-thumb {
  background-color: #2e2e2e;
  border-radius: 100px;
  border: 3px solid #2e2e2e;
}

.popup__close {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.popup__close:before,
.popup__close:after {
  cursor: pointer;
  position: absolute;
  content: "";
  top: 8px;
  right: 18px;
  height: 20px;
  width: 2px;
  background-color: #ffffff;
}

@media (min-width: 1440px) {
  .popup__close:before,
  .popup__close:after {
    top: 14px;
    right: 32px;
    height: 28px;
    width: 3px;
  }
}

.popup__close:before {
  transform: rotate(45deg);
}

.popup__close:after {
  transform: rotate(-45deg);
}

.popup__title {
  font-family: "DrukWide";
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  transform: scale(2, 1);
  letter-spacing: 0.02em;
  margin: 15px auto 15px 0;
}

@media (min-width: 1440px) {
  .popup__title {
    font-size: 30px;
    line-height: 30px;
    margin: 35px auto 35px 0;
  }
}

.popup__title:first-of-type {
  margin: -20px auto 15px 0;
}

@media (min-width: 1440px) {
  .popup__title:first-of-type {
    margin: -20px auto 35px 0;
  }
}

.popup__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
}

@media (min-width: 1440px) {
  .popup__text {
    font-size: 23px;
  }
}

.popup__text-marker {
  position: relative;
  margin: 0 0 10px 20px;
}

.popup__text-marker::after {
  position: absolute;
  content: "";
  top: 6px;
  left: -15px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ffcc00;
}

@media (min-width: 1440px) {
  .popup__text-marker::after {
    top: 9px;
    left: -17px;
    width: 7px;
    height: 7px;
  }
}
